body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
  }
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header-container {
    display: flex;
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: grey;
    opacity: 0.9;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black
}
.header-title {
    font-size: 2em;
    background-color: honeydew;
    border: 1px solid blue;
    border-radius: 10px;
    
}
.navbar-container {
    margin-top: 25px;
    
    display: flex;
    height: 50%;
    width: 20%;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    background-color: khaki;
    border: 1px solid green;
}
.navbar-home {
    width: 30%;
    border: 1px solid red;
    flex-direction: column;
}
.navbar-contact {
    width: 30%;
    border: 1px solid red;
}
.navbar-pricing {
    width: 30%;
    border: 1px solid red;
}

.initial-motto {
    top: 20%;
    width: 100%;
    position: absolute;
    font-size: 80px;
    color: rgb(255, 53, 53);
    text-align: center;
}

.showcase-logo-block {
    background-color: grey;
    height: 70%;
    max-height: 660px;
    width: 100%;
    
   
}

.showcase-logo {
  height: 70%;
  max-height: 660px;
    width: 100%;
    
    top: 0px;
    position: fixed;
    background-image: url("./assets/kitchen.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    
   
}

.business-logo {
    height: 100%;
    
    
    position: absolute;
    background-position: center;
    margin-left: 10%;
    
    
    background-size: auto;
    
    
}
.main-content-container {
   
    height: 3400px;
    width: 100%;
    position: absolute;
    background-color: lightgrey;
    
}

.steps {
    /* Full height */   
    max-height: 350px;
    height: 70%;
    max-width: 50%;
    /* margin-left: 5%; */
    margin: 0% 0% 5% 5%;
    
    
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
  }

  .step1{
    background-image: url("./assets/kitchen.jpg"); 
      width:60%;
      height: 60%;
      
      /* margin: 1% 0% 5% 5%; */
      margin: 1% 0% 5% 45%;
      
      
  }
  
  .step2{
    background-image: url("./assets/bathroom.jpg"); 
      width:60%;
      
      
  }
  .step3{
    background-image: url("./assets/livingroom.jpg"); 
    
      width:60%;
      /* margin: 1% 0% 5% 5%; */
      margin: 1% 0% 5% 45%;
      
  }
  .step4{
    background-image: url("./assets/bathroom.jpg"); 
      width:60%;
      /* margin: 1% 0% 5% 35%; */
      
  }
  .step5{
    background-image: url("./assets/livingroom.jpg"); 
    
      width:60%;
      /* margin: 1% 0% 5% 5%; */
      margin: 1% 0% 5% 45%;
      
  }
  .step6{
    background-image: url("./assets/bathroom.jpg"); 
      width:60%;
      /* margin: 1% 0% 5% 35%; */
      
  }
  .step7{
    background-image: url("./assets/livingroom.jpg"); 
    
      width:60%;
      /* margin: 1% 0% 5% 5%; */
      margin: 1% 0% 5% 45%;
      
  }

  .step-title {
      font-size: 4em;
      /* padding-top: 5%; */
      margin: 0% 0% 1% 105%;
  }

  .step-description {
      width: 50%;
    margin: 0% 0% 1% 105%;
  }

 

  .step1 .step-description {
    margin: 0% 100% 1% 0%;
    float: right;
    
  }

  .step1 .step-title {
    margin: 0% 125% 1% 0%;
   float: right; 
  }

  .step3 .step-description {
    margin: 0% 100% 1% 0%;
    float: right;
    
  }

  .step3 .step-title {
    margin: 0% 125% 1% 0%;
   float: right; 
  }

  .step5 .step-description {
    margin: 0% 100% 1% 0%;
    float: right;
    
  }

  .step5 .step-title {
    margin: 0% 125% 1% 0%;
   float: right; 
  }
  .step7 .step-description {
    margin: 0% 100% 1% 0%;
    float: right;
    
  }

  .step7 .step-title {
    margin: 0% 125% 1% 0%;
   float: right; 
  }

 