body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
  }
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header-container {
    display: flex;
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: grey;
    opacity: 0.9;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid black
}
.header-title {
    font-size: 2em;
    background-color: honeydew;
    border: 1px solid blue;
    border-radius: 10px;
    
}
.navbar-container {
    margin-top: 25px;
    
    display: flex;
    height: 50%;
    width: 20%;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    background-color: khaki;
    border: 1px solid green;
}
.navbar-home {
    width: 30%;
    border: 1px solid red;
    flex-direction: column;
}
.navbar-contact {
    width: 30%;
    border: 1px solid red;
}
.navbar-pricing {
    width: 30%;
    border: 1px solid red;
}

.initial-motto {
    top: 90%;
    width: 100%;
    position: absolute;
    font-size: 4em;
    color: rgb(255, 53, 53);
    text-align: center;
}

.showcase-logo-block {
    background-color: black;
    height: 100%;
    width: 100%;
   
}

.showcase-logo {
    height: 100%;
    width: 80%;
    margin-left: 10%;
    top: 0px;
    position: fixed;
    background-image: url("./assets/househigh.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
    
   
}

.business-logo {
    height: 70%;
    width: 40%;
    top: 10%;
    position: absolute;
    background-position: center;
    margin-left: 30%;
    
    
    background-size: auto;
    
    
}
.main-content-container {
   
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: lightgrey;
    opacity: 0.95;
}

.bg-image {
    /* Full height */
    height: 70%;
    margin-left: 5%;
    
    
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    
  }

  .img1{
    background-image: url("./assets/kitchen.jpg"); 
      width:60%;
      height: 60%;
      margin: 1% 0% 5% 5%;
      
      
  }
  .img2{
    background-image: url("./assets/bathroom.jpg"); 
      width:60%;
      margin: 1% 0% 5% 5%;
      
  }
  .img3{
    background-image: url("./assets/livingroom.jpg"); 
      width:60%;
      margin: 1% 0% 5% 5%;
      
  }

  .about {
      width: 25%;
      position: absolute;
      top: 4%;
      right: 3%;
      font-size: 1.5em;
  }
  .about-title{
      position: relative;
      font-size: 3em;
      right: 25%;
      margin-bottom: 15px;
  }